In [12]:
import pandas as pd

inventory_data = pd.read_excel('Inventory.xlsx')

df = pd.DataFrame(inventory_data, index = range(0, 3000))
df.drop("Item No. ", axis=1, inplace=True)
#print(df.info()) 
#print(df.isnull().sum())

In [13]:

numerical_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object', 'category', 'bool']).columns

# Impute missing values
# For numerical columns, use mean
df[numerical_cols] = df[numerical_cols].apply(lambda x: x.fillna(x.mean()))

# For categorical columns, use mode
for col in categorical_cols:
    if df[col].isnull().any():
        mode_val = df[col].mode()
        if not mode_val.empty:
            df[col] = df[col].fillna(mode_val[0])

In [14]:
print(df.isnull().sum())

print(df['State'].value_counts())

Item Description                    0
Whse                                0
State                               0
Base Unit                           0
Total - Quantity                    0
Inventory Aging Report Unit Cost    0
Total - Value                       0
6 Months QTY                        0
12 Months QTY                       0
2 Years QTY                         0
Over 2 Years Qty                    0
Over 3 Years Quantity               0
Business Area                       0
Item Type                           0
ABC Class                           0
Jan                                 0
Feb                                 0
Mar                                 0
Apr                                 0
May                                 0
Jun                                 0
Jul                                 0
Aug                                 0
Sep                                 0
Oct                                 0
Nov                                 0
Dec                                 0
Avg monthly                         0
Inventory Turn                      0
Over 2 years Qty                    0
% of over 2 year                    0
Dead stock                          0
dtype: int64
State
NSW    2113
WA      887
Name: count, dtype: int64

In [15]:
dummies = pd.get_dummies(df['State'], prefix='State')
#print(dummies)
df['State_NSW'] = dummies['State_NSW']
df.drop('State', axis=1, inplace=True)

In [16]:
print(df['Whse'].value_counts())

Whse
1N1    1318
1W0     887
1N0     795
Name: count, dtype: int64

In [17]:
Whse_dummy = pd.get_dummies(df['Whse'], prefix='Whse')

for col in ['Whse_1N0', 'Whse_1N1', 'Whse_1W0']:
    if col in Whse_dummy.columns:
        df[col] = Whse_dummy[col]
    else:
        df[col] = 0

df.drop('Whse', axis=1, inplace=True)

In [18]:
#print(df['Item Type'].value_counts())

for i in range(len(df['Item Type'])):
    if  df.loc[i, 'Item Type'].startswith('FG'):
        #print(item.startswith('FG'))
        df.loc[i, 'Item Type'] = 'Finished Goods'
    elif  df.loc[i, 'Item Type'].startswith('RM'):
        df.loc[i, 'Item Type'] = 'Raw Material'
    elif  df.loc[i, 'Item Type'].startswith('WIP'):
        df.loc[i, 'Item Type'] = 'WIP Manufactured'
    else:
       df.loc[i, 'Item Type'] = 'Other'

#print(df['Item Type'].value_counts())

In [19]:
#print(df['Business Area'].value_counts())
print(df['Base Unit'].value_counts())
#print(df['ABC Class'].value_counts())

Base Unit
EA    2065
PC     880
KG      28
MT      26
ML       1
Name: count, dtype: int64

In [20]:
base_unit_dummies = pd.get_dummies(df['Base Unit'], prefix='Base_Unit')
for col in base_unit_dummies.columns:
    if col in base_unit_dummies.columns:
        df[col] = base_unit_dummies[col]
    else:
        df[col] = 0
df.drop('Base Unit', axis=1, inplace=True)

In [21]:
bussiness_area_dummies = pd.get_dummies(df['Business Area'], prefix='Business_Area')
for col in bussiness_area_dummies.columns:
    if col in bussiness_area_dummies.columns:
        df[col] = bussiness_area_dummies[col]
    else:
        df[col] = 0
df.drop('Business Area', axis=1, inplace=True)

In [ ]:
dead_stock = {"Yes": 1, "No": 0}
df['Dead stock'] = df['Dead stock'].map(dead_stock)

Dead stock
0    2830
1     170
Name: count, dtype: int64

In [ ]:
print(df['ABC Class'].value_counts())

ABC Class
I    855
J    667
C    449
H    370
E    291
A    235
F     92
B     40
0      1
Name: count, dtype: int64